Repository fellowapp/n8n-nodes-fellow: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data
        entry: bash -c 'git diff --staged --name-only --diff-filter=ACM | xargs -r trufflehog filesystem --fail'
        language: system
        stages: ['pre-commit']
        pass_filenames: false

      - id: prettier
        name: Prettier format check
        entry: pnpm run format
        language: system
        types_or: [javascript, jsx, ts, tsx, json]
        files: ^(nodes|credentials)/
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: pnpm run lintfix
        language: system
        types: [file]
        files: ^((nodes|credentials)/.*\.ts|package\.json)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type check
        entry: bash -c 'pnpm exec tsc --noEmit'
        language: system
        types: [ts]
        pass_filenames: false

[INFRA-1582] Remove setup-node. Flox should cover this
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Set actions/setup-node to v4. Only working example seen have been at v4
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Test oidc and trusted publishing
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Unset the NODE_AUTH_TOKEN but do not remove .npmrc
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Drop down to npm for publish
  .github/workflows/publish-prod.yml
Due: none

Add test request configuration to FellowApi credentials
  credentials/FellowApi.credentials.ts
Due: prettier, eslint, typescript-check

Update FellowApi test request to use GET method and change endpoint to '/me'
  credentials/FellowApi.credentials.ts
Due: prettier, eslint, typescript-check

Refactor FellowApi credential test URL to use dynamic base URL pattern and include SSL validation option
  credentials/FellowApi.credentials.ts
Due: prettier, eslint, typescript-check

Add pairedItem metadata to all node execution data
  nodes/Fellow/Fellow.node.ts
  nodes/Fellow/handlers/ActionItemHandler.ts
  nodes/Fellow/handlers/NoteHandler.ts
Due: prettier, eslint, typescript-check

Update tests to expect pairedItem in results
  nodes/Fellow/handlers/ActionItemHandler.test.ts
  nodes/Fellow/handlers/NoteHandler.test.ts
Due: prettier, eslint, typescript-check

Remove pnpm overrides from package.json
  package.json
  pnpm-lock.yaml
Due: eslint

Add deployment: false to GitHub Actions environment configurations
  .github/workflows/publish-prod.yml
  .github/workflows/publish-staging.yml
  .github/workflows/update-internal-n8n.yml
Due: none
