Repository fellowapp/n8n-nodes-fellow: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data
        entry: bash -c 'git diff --staged --name-only --diff-filter=ACM | xargs -r trufflehog filesystem --fail'
        language: system
        stages: ['pre-commit']
        pass_filenames: false

      - id: prettier
        name: Prettier format check
        entry: pnpm run format
        language: system
        types_or: [javascript, jsx, ts, tsx, json]
        files: ^(nodes|credentials)/
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: pnpm run lintfix
        language: system
        types: [file]
        files: ^((nodes|credentials)/.*\.ts|package\.json)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript type check
        entry: bash -c 'pnpm exec tsc --noEmit'
        language: system
        types: [ts]
        pass_filenames: false

[Part 1] Splt release flows and add PR workflow to upgrade fellow n8n node internally
  .github/workflows/lint.yml
  .github/workflows/publish-prod.yml
  .github/workflows/publish-staging.yml
  .github/workflows/publish.yml
  .github/workflows/update-internal-n8n.yml
  README.md
Due: none

Add Fellow node to n8n integration
  nodes/Fellow/Fellow.node.ts
  package.json
Due: prettier, eslint, typescript-check

Fix PR sha ref
  .github/workflows/update-internal-n8n.yml
Due: none

Fix the typing in the config generation
  scripts/generateConfig.js
Due: none

Fix the npm registry auth for ghp
  .github/workflows/publish-prod.yml
  .github/workflows/publish-staging.yml
Due: none

Fix dynamic tag in build
  .github/workflows/publish-staging.yml
  .github/workflows/update-internal-n8n.yml
Due: none

Implement Svix webhook signature verification in FellowTrigger node; remove sample payloads and enhance logging for webhook processing.
  nodes/Fellow/FellowTrigger.node.ts
Due: prettier, eslint, typescript-check

Refactor Fellow node to modularize action item and note operations
  nodes/Fellow/Fellow.node.ts
  nodes/Fellow/descriptions/ActionItemDescription.ts
  nodes/Fellow/descriptions/NoteDescription.ts
  nodes/Fellow/descriptions/index.ts
  nodes/Fellow/handlers/ActionItemHandler.ts
  nodes/Fellow/handlers/NoteHandler.ts
  nodes/Fellow/handlers/index.ts
Due: prettier, eslint, typescript-check

Add json property to request body in ActionItemHandler and NoteHandler
  nodes/Fellow/FellowTrigger.node.ts
Due: prettier, eslint, typescript-check

Add comprehensive test suite for webhook signature verification
  .github/workflows/test.yml
  nodes/Fellow/FellowTrigger.node.test.ts
  nodes/Fellow/FellowTrigger.node.ts
  nodes/Fellow/signatureVerification.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier, eslint, typescript-check

Update FellowTrigger tests to use dynamic timestamps for signature verification
  nodes/Fellow/FellowTrigger.node.test.ts
  nodes/Fellow/FellowTrigger.node.ts
  nodes/Fellow/signatureVerification.ts
Due: prettier, eslint, typescript-check

Refactor FellowTrigger and signature verification for improved logging and security
  nodes/Fellow/FellowTrigger.node.ts
  nodes/Fellow/signatureVerification.ts
Due: prettier, eslint, typescript-check

Add webhook creation response validation tests to FellowTrigger
  nodes/Fellow/FellowTrigger.node.test.ts
  nodes/Fellow/FellowTrigger.node.ts
Due: prettier, eslint, typescript-check

Enhance FellowTrigger signature verification tests for multiple signatures
  nodes/Fellow/FellowTrigger.node.test.ts
  nodes/Fellow/signatureVerification.ts
Due: prettier, eslint, typescript-check

Add Fellow API icon and SVG assets
  credentials/FellowApi.credentials.ts
  credentials/FellowApi.svg
Due: prettier, eslint, typescript-check

Update FellowTrigger event type for action items
  nodes/Fellow/FellowTrigger.node.test.ts
  nodes/Fellow/FellowTrigger.node.ts
Due: prettier, eslint, typescript-check

Fix webhook URL in FellowTrigger implementation
  nodes/Fellow/FellowTrigger.node.ts
Due: prettier, eslint, typescript-check

Update FellowTrigger event type from 'action_item.assigned_to_me' to 'action_item.assigned'
  nodes/Fellow/FellowTrigger.node.test.ts
  nodes/Fellow/FellowTrigger.node.ts
Due: prettier, eslint, typescript-check

Update copyright year in LICENSE.md from 2022 to 2025
  LICENSE.md
Due: none

Add scope filter to action item retrieval
  nodes/Fellow/descriptions/ActionItemDescription.ts
  nodes/Fellow/handlers/ActionItemHandler.ts
Due: prettier, eslint, typescript-check

Enhance testing and configuration for Fellow API
  nodes/Fellow/config.test.ts
  nodes/Fellow/handlers/ActionItemHandler.test.ts
  nodes/Fellow/handlers/ActionItemHandler.ts
  nodes/Fellow/handlers/NoteHandler.test.ts
  nodes/Fellow/handlers/NoteHandler.ts
  vitest.config.ts
Due: prettier, eslint, typescript-check

Update package.json and workflows for npm publishing
  .github/workflows/publish-prod.yml
  .github/workflows/publish-staging.yml
  README.md
  package.json
Due: eslint

Update README and package.json for Fellow node integration
  README.md
  package.json
Due: eslint

[chore](deps) Rebase and override to patched brace-expansion version
  package.json
  pnpm-lock.yaml
Due: eslint

[INFRA-1580] Don't include tests in the package. Keep the build smaller and cleaner
  .npmignore
Due: none

[INFRA-1580] Exlcude the tests from pnpm pack (.npmignore is ignored by pnpm
  package.json
Due: eslint

[INFRA-1581] Change the scope (org) for npm publishing from fellowapp to fellow
  .github/workflows/publish-prod.yml
  .github/workflows/publish-staging.yml
  package.json
Due: eslint

[INFRA-1582] Set up Trusted Publishing (OIDC) to NPM
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Update npm so that trusted publishing works
  .github/workflows/publish-prod.yml
Due: none

[INFRA-15882] Update npm in the flox env
  .flox/env/manifest.lock
  .flox/env/manifest.toml
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Pin setup node action and use node 24
  .github/workflows/publish-prod.yml
  .github/workflows/publish-staging.yml
Due: none

[INFRA-1582] Set the permission at top level of workflow
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Add provenance to the package.json and upgrade npm in flox
  .github/workflows/publish-prod.yml
  package.json
Due: eslint

[INFRA-1582] Fix provenance
  .github/workflows/publish-staging.yml
Due: none

[INFRA-1582] Cannot generate provenance for private ghp. Enabled provenance config only on prod
  .github/workflows/publish-prod.yml
  .github/workflows/publish-staging.yml
  package.json
Due: eslint

[INFRA-1582] npm in /nix/store is immutable
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Clear default token from actions/setup-node so that OIDC is used for publish
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Set empty NODE_AUTH_TOKEN in GITHUB_ENV to take precedence over value from setup-node
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] Fix unset of the Node Auth Token default value from setup-node
  .github/workflows/publish-prod.yml
Due: none

[INFRA-1582] try unset entirely of NODE_AUTH_TOKEN
  .github/workflows/publish-prod.yml
Due: none
